Admin Home
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
 </head>
 <body class="loggedin">
 
   
 <div class="container-fluid">
      <div class="row">
        
          <div class="sidebar-sticky">
            
            
            <ul class="nav flex-column">
              Add Book
              <li class="nav-item">
                
                  <i class="fas fa-home"></i>
                  
                  <form class="form-group" action="/addbooks" method="post">
                    <label>Book name</label>
                    <input type="text" class="form-control" name="bookname" placeholder="Book name" id="bookname" required>
                    <label>Author name</label>
                    <input type="text" class="form-control" name="authorname" placeholder="Author name" id="authorname" required>
                    <label>Number of Copies</label>
                    <input type="text" class="form-control" name="numberofcopies" placeholder="Number of Copies" id="numberofcopies" required>
                    <input type="submit" value="Add" class="form-control btn btn-success " name="">
                </form>
                
              </li>
              Delete Book
              <li class="nav-item">
                
                  <i class="fas fa-shopping-cart"></i>
                  
                  <form class="form-group" action="/deletebooks" method="delete">
                    <label>Book name</label>
                    <input type="text" class="form-control" name="bookname" placeholder="Book name" id="bookname" required>
                     
                    <input type="submit" value="Delete" class="form-control btn btn-success " name="">
                </form>
                
              </li>
            
              <li class="nav-item">
                
                  <i class="fas fa-shopping-cart"></i>

                  <button onclick="listbooks()">List Books</button>
                  <p id="listofbooks"></p>
                
              </li>
            </ul>
   </div>
        
  
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <div class="col-12">
   {% block content %}{% endblock %}
   </div>
          </div>
   </main>
     
      </div>
    </div>
   
    <script>
        const listbooks = async () => {
        const response = await fetch('http://localhost:5000/viewbooks');
        var temp = JSON.parse(myJson);
        var div = document.createElement('div');
        div.innerHTML = temp.bookname + '<br />' + temp.author + '<br />' + temp.numberofcopies;
        document.body.appendChild(div);
        
      }

        
        
    </script>
 </body>
</html>