<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
 </head>
 <body class="loggedin">
   
 <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <i class="fas fa-home"></i>
                  <button onclick="listbooks()">List Books</button>
                  <p id="listofbooks"></p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-shopping-cart"></i>
                  Borrow Book
                </a>
                <form class="form-group" action="{{ url_for('borrowbook') }}" method="post">
                  <label>Book name</label>
                  <input type="text" class="form-control" name="bookname" placeholder="Book name" id="bookname" required>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
    <i class="fas fa-shopping-cart"></i>
                  Return Book
                </a>
                <form class="form-group" action="{{ url_for('returnbook') }}" method="post">
                  <label>Book name</label>
                  <input type="text" class="form-control" name="bookname" placeholder="Book name" id="bookname" required>
              </li>
            </ul>
   </div>
        </nav>
  
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <div class="col-12">
   {% block content %}{% endblock %}
   </div>
          </div>
   </main>
     
      </div>
    </div>
   
    <script>
      const listbooks = async () => {
      const response = await fetch('http://localhost:5000/viewbooks');
      const myJson = await response.json();
      }
      document.getElementById("listofbooks").innerHTML = myJson;
      
  </script>

 </body>
</html>